<section class="pomodoro">
    <div class="task">
        <input type="text" name="task" id="task" placeholder="Task: Create test suite.">
    </div>

    <div class="timer">
        <div class="timer__watch">
            <svg class="timer__progress" viewBox="0 0 100 100">
                <circle class="timer__progress-bg" cx="50" cy="50" r="45" />
                <circle class="timer__progress-bar" cx="50" cy="50" r="45" />
            </svg>
            <div class="timer__dot"></div>
            <span class="timer__watch__counter">15:00</span>
        </div>
    </div>

    <div class="status">
        Initial | Work | Break
    </div>

    <div class="action">
        <button class="action__button" (click)="playButtonPress()">
            <img src="images/icons/play_icon.svg" alt="">
        </button>
    </div>
</section>