<section class="pomodoro">
    <div class="task">
        <input type="text" name="task" id="task" placeholder="Task: Create test suite.">
    </div>

    <div class="timer">
        <app-timer [totalTime]="currentSessionDuration" [timeRemaining]="timeRemaining" [state]="timerState" />
    </div>

    <div class="status">
        Initial | Work | Break ({{currentState}})
    </div>

    <div class="action">
        <button class="action__button" (click)="playButtonPress()">
            <img src="images/icons/play_icon.svg" alt="">
        </button>
    </div>
</section>