<section class="configuration">
	<div class="form">
		<div class="input-group">
			<label class="input-group__label" for="focusTime">Focus time</label>
			<div class="input-group__block">
				<input
					class="input-group__input"
					type="number"
					id="focusTime"
					min="5"
					[value]="this.pomodoroSettings.focusTime"
					max="50"
					step="1"
				>
				<span class="input-group__unit">min</span>
			</div>
		</div>

		<div class="input-group">
			<label class="input-group__label" for="shortBreakTime">Short Break</label>
			<div class="input-group__block">
				<input
					class="input-group__input"
					type="number"
					id="shortBreakTime"
					min="5"
					[value]="this.pomodoroSettings.shortBreakTime"
					max="25"
					step="1"
				>
				<span class="input-group__unit">min</span>
			</div>
		</div>

		<div class="input-group">
			<label class="input-group__label" for="longBreakTime">Long Break</label>
			<div class="input-group__block">
				<input
					class="input-group__input"
					type="number"
					id="longBreakTime"
					min="5"
					[value]="this.pomodoroSettings.longBreakTime"
					max="50"
					step="1"
				>
				<span class="input-group__unit">min</span>
			</div>
		</div>

		<div class="input-group">
			<label class="input-group__label" for="focusSessions">Sections</label>
			<div class="input-group__block">
				<input
					class="input-group__input"
					type="number"
					id="focusSessions"
					min="5"
					[value]="this.pomodoroSettings.focusSessions"
					max="10"
					step="1"
				>
				<span class="input-group__unit">min</span>
			</div>
		</div>
	</div>
</section>
