<section class="configuration">
	<div class="form">
		<app-dropdown-select
			label="Focuse Time"
			unit="min"
			[min]="5"
			[value]="25"
			[max]="50"
			[step]="5"
		/>
		<app-dropdown-select
			label="Shoft Break"
			unit="min"
			[min]="1"
			[value]="5"
			[max]="25"
			[step]="5"
		/>
		<app-dropdown-select
			label="Long Break"
			unit="min"
			[min]="5"
			[value]="15"
			[max]="50"
			[step]="5"
		/>
		<app-dropdown-select
			label="Sections"
			unit="intervals"
			[min]="2"
			[value]="4"
			[max]="6"
			[step]="1"
		/>
	</div>
</section>
