<h1>Pomodoro timer</h1>

<main>
    <input type="text" name="task" id="task" placeholder="Task: Create test suite.">
    <div class="timer">
        <div class="timer__watch">Timer</div>
        <div class="timer__counter">counter</div>
    </div>
    <div class="status">
        Initial | Work | Break
    </div>
    <div class="action">
        <button class="action__button">▶️ / ⏯️</button>
    </div>
</main>


<header>
    <nav>
        <li>History</li>
        <li>Pomodoro</li>
        <li>Configuration</li>
    </nav>
</header>