@use "sass:color";
@use "../../../../../../scss/variables.scss" as vars;



.dropdown-select {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: center;

    width: 90%;

    min-height: 2rem;
    padding: 0.7rem 1rem;
    margin: auto;

    background-color: vars.$color-gray;
    border-radius: 20px;
    gap: 1rem;

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__list {
        display: none;
    }

    &--open {
        gap: 20px;

        .dropdown-select__list {
            display: block;
            // Add 2 rem for the 1rem padding each sides of parent container
            width: calc(100% + 2rem);


            overflow: hidden;

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 2rem;
                transition: height .3s;
                transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1),
                    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                overflow: visible;

                &:hover {
                    z-index: 1;
                    transform: scale(1.35);
                    background-color: vars.$color-secondary;
                }
            }
        }
    }

}