<div class="dropdown-select" [class.dropdown-select--open]="isOpen">
	<div class="dropdown-select__header" (click)="toggleDropdown()">
		<span class="dropdown-select__label">{{label}}</span>
		<span class="dropdown-select__selected-value">{{value}} {{unit}}</span>
	</div>

	<div class="dropdown-select__list-container">
		<ul class="dropdown-select__list" #list (scroll)="onScroll(list)">
			<li class="dropdown-select__spacer"></li>
			<li class="dropdown-select__spacer"></li>

			@for (v of values; track value) {
				<li 
				class="dropdown-select__list__item"
				[class.selected]="value === v"
				>{{ v }}</li>
			}
			
			<li class="dropdown-select__spacer"></li>
			<li class="dropdown-select__spacer"></li>
		</ul>
		<div class="dropdown-select__highlight"></div>
	</div>
</div>