.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0; // les espacements sont gérés dans step-wrapper
}

.step-wrapper {
  display: flex;
  align-items: center;
}

.step {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7a5cf7;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.step.active {
  opacity: 1;
  transform: scale(1.3);
}

.line {
  width: 20px; // distance entre les cercles
  height: 2px;
  background-color: #7a5cf7;
  opacity: 0.3;

  &.active {
    opacity: 1;
    // transform: scale(1.3);
  }
}