@use "../../../../scss/variables.scss" as vars;

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 0.7rem;

	min-height: 7vh;
	width: 100%;

	li {
		list-style: none;
		cursor: pointer;
		text-align: center;
		transition: all .3s;

		&.active {
			transform: scale(1.7);
			color: vars.$color-primary;
		}


	}
}