<footer>
  <nav>
    <li routerLink="tasks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="images/icons/list.svg" alt="" />
    </li>
    <!-- /Tasks -->
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="images/icons/home.svg" alt="" />
    </li>
    <!-- /Pomodoro -->
    <li
      routerLink="configuration"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="images/icons/settings.svg" alt="" />
    </li>
    <!-- /Configuration -->
  </nav>
</footer>
