@import "./scss/variables.scss";
@import "./scss/reset-css.scss";


html[data-theme="dark"] {
	$background-color: $color-dark;
	$text-color: $color-white;
	$color-primary: $color-primary;
	$color-secondary: $color-secondary;
}

html[data-theme="light"] {
	$background-color: $color-white;
	$text-color: $color-dark;
	$color-primary: $color-primary;
	$color-secondary: $color-secondary;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: $text-color;

	background: $background-color;
}

app-pomodoro {
	display: flex;
	flex: 1;
	min-height: 0;
	flex-direction: column;
}
