$color-dark: #1f1b2e;
$color-white: #ffffff;
$color-primary: #664eff;
$color-secondary: #6c4eb3;

$background-color: $color-dark;
$text-color: $color-white;
$color-primary: $color-primary;
$color-secondary: $color-secondary;