@use "sass:color";

$color-dark: #1f1b2e;
$color-gray: #2d2c3f;
$color-light_gray: color.scale($color: #2d2c3f, $lightness: 10%);
$color-white: #ffffff;
$color-primary: #664eff;
$color-secondary: #6c4eb3;

$background-color: $color-dark;
$text-color: $color-white;
$color-primary: $color-primary;
$color-secondary: $color-secondary;